<div class="child">
<div class="home">
    <div class="texto">
        <h1>Bem-vindo ao nosso site de lista de tarefas!</h1>
          <p>Se você está procurando uma maneira simples e eficiente de organizar suas tarefas diárias, 
            semanais ou mensais, você veio ao lugar certo. Com nosso site de lista
            de tarefas, você pode se livrar da sensação de sobrecarga e estresse, 
            concentrando-se em concluir suas tarefas com eficiência e sem esquecer 
            nada importante. Experimente agora mesmo e veja como é fácil organizar 
            sua vida!
        </p>
    </div>
    <img src="/images/todo.png" alt="">
</div>
